@{
    ViewBag.Title = "Contact Page";
}
<h2>@ViewBag.Title.</h2>
<h3>Please don't actually contact us at all.</h3>

<address>
    Somthing Woodward Ave.<br />
    Detroitish, MI 48266<br />
    <abbr title="Phone">P:</abbr>
   313.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@Coffee.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@Coffee.com</a>
</address>