
@{
    ViewBag.Title = "Error";
}

<h2>Error</h2>

<h1 style="color:red">You don't do stuff good. THis is what you didnt do good:</h1>
@Html.ValidationSummary()    @*//tells what kind of errors there are*@
