@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="color:darkorange">
        Drink More Coffee.
        <img src="~/Content/images/8coffee.jpg" />
    </h1 style="color:red">
    <p class="lead" style="color:red">It helps us stay in business.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Coffee Benefits</h2>
        <p>
           Coffee gives you a powerful & agile development.
        </p>
        <p><a class="btn btn-default" href="/Home/Signup">Signup Here &raquo;</a></p>
    </div>
  
</div>